@import '../base.scss';

.social {
  background-image: url('../../../src/img/team.png');
  background-size: cover;
  background-position: center, center;
}

.galleryContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  .imageContainer {
    width: 100%;
    padding: 0 10px;
    flex: 1;

    .subFlex {
      display: flex;
    }
  }
}

iframe {
  width: 100% !important;
  flex: 1 !important;
}

@media screen and (max-width: 768px) {
  min-width: 200px !important;
}

.galleryContainer::before, .container::after {
  content: '';
  width: 100%;
  order: 1;
}
