@import '../base.scss';

.logoContainer {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .logo {
    display: inline-block;
    flex-grow: 1;
    margin: 0 10px;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}
