@import '../base.scss';

.circle {
  display: block;
  position: relative;
  margin: 5px auto;
  width: 150px;
  height: 150px;
  background: $pink;
  box-sizing: border-box;
  clip-path: circle(74px at center);
  -webkit-clip-path: circle(74px at center);
  -moz-clip-path: circle(74px at center);
}

.circle img {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 146px;
  height: 146px;
  clip-path: circle(70px at center);
  -webkit-clip-path: circle(70px at center);
  -moz-clip-path: circle(70px at center);
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
}

.teamMember{
  display: inline-block;
  flex-grow: 1;
  margin: 0 10px;

  p {
    text-align: center;
  }
}

@media screen and (max-width: 480px){
  .circle {
    width: 104px;
    height: 104px;
    clip-path: circle(52px at center);
    -webkit-clip-path: circle(52px at center);
    -moz-clip-path: circle(52px at center);
  }

  .circle img {
    width: 100px;
    height: 100px;
    clip-path: circle(48px at center);
    -webkit-clip-path: circle(48px at center);
    -moz-clip-path: circle(48px at center);
  }
}
