.contentSection {
  color: #3f464d;
  padding: 75px 0;

  h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: bold;
  }
}

.graySectionText {
  margin-top: 15px;
  line-height: 1.8em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}