.footer {
  background-image: url('../../../static/img/footer.png');
  background-size: cover;
  background-position: center, center;
}

.socialLinks {
  text-align: center;
  padding: 30px;
  font-size: 30px;

  a{
    color: white;
    margin: 0 5px;
  }
}