.team {
  background-image: url('../../../static/img/team.png');
  background-size: cover;
  background-position: center, center;
}

.contentSection{
  color: white;
  padding: 75px 0;

  h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: bold;
  }
}

.galleryContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-left: 1em;

  .imageContainer {
    flex: 0 0 100%;
    margin: 10px;
    padding-left: 1em;

  }
}

.galleryContainer::before, .container::after {
  content: '';
  width: 100%;
  order: 1;
}

.imageContainer:nth-child(n + 3) {
  order: 1;
}
.imageContainer:nth-child(n + 6) {
  order: 2;
}

@media (min-width: 48em) {
  .galleryContainer > .imageContainer {
    flex: 1;
  }
}